body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link {
  text-align: center;
}

h1 {
  text-align: center;
}

/* ---- */
.logo {
  width: 500px;
}

.header-container{
  background-color: rgb(195, 214, 89)
}

.col-logo{
  margin-left: 100px;;
}

.icon{
  /* color: antiquewhite; */
  font-size: 3.5em;
  margin-left: 30px;
}

.header-text{
  font-size: 1.5em;
}

.footer {
  text-align: center;
  font-weight: bold;
  background-color: rgb(195, 214, 89)
}

.char-img{
  width: 300px;
}
.char-name{
  margin-left: 60px;
  font-size: 1.5em;
}
.char-desc{
  background-color: rgb(99, 169, 99);
}
.char-para{
  font-size: 2em;
  text-align: center;
}
